<!DOCTYPE html>
<html lang="en">
<head>
    
        <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link href="@Url.Content("~/css/mainLayout.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/aos.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/images/")" rel="stylesheet" type="text/css" />
</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

   
       
          <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="">Cloud Parking</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Inicio</a>
                    </li>
                         <!--Operador y administrador-->
                    <li class="nav-item">
                        <a href="#vehicle" class="nav-link smoothScroll">Vehiculos</a>
                    </li>
                      <li class="nav-item">
                        <a href="#users" class="nav-link smoothScroll">Usuarios</a>
                    </li>
                   <li class="nav-item">
                        <a href="#clients" class="nav-link smoothScroll">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a href="#parkings" class="nav-link smoothScroll">Parqueos</a>
                    </li>
                      <li class="nav-item">
                        <a href="#slots" class="nav-link smoothScroll">Espacios</a>
                    </li>
                      <li class="nav-item">
                        <a href="#reservation" class="nav-link smoothScroll">Reservaciones</a>
                    </li>
                     <li class="nav-item">
                        <a href="#roles" class="nav-link smoothScroll">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a href="#fees" class="nav-link smoothScroll">Tarifa</a>
                    </li>
                   
                      <li class="nav-item">
                        <a href="#bills" class="nav-link smoothScroll">Facturas</a>
                    </li>
                     <li class="nav-item">
                      <a href="" onclick="Logout(); return false;">Salir</a>
                    </li>      
                </ul>
            </div>

        </div>
    </nav>
        <!-- HERO -->
     <section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

            <div class="bg-overlay"></div>

               <div class="container">
                    <div class="row">

                         <div class="col-lg-8 col-md-10 mx-auto col-12">
                              <div class="hero-text mt-5 text-center">

                                   

                                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">CLOUD PARKING</h1>

                                   
                                   
                              </div>
                         </div>

                    </div>
               </div>
     </section>

  <!-- vehicle section -->

     <section class="about section" id="vehicle">
 
            <div class="container">
            <div class="row">
                        <h2 class="text-black" data-aos="fade-up" data-aos-delay="200">Vehiculos</h2>
                        <div class="table-responsive">                     
                            <table class="text-black table table-bordered  schedule-table"  id="vehicles-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                  
                                         <th>
                                             Marca
                                        </th>
                                        <th>
                                             Modelo
                                        </th>
                                        <th>
                                             Color
                                        </th>
                                        <th>
                                             Año
                                        </th>
                                         <th>
                                             Matricula
                                        </th>
                                        <th>
                                             Descripcion
                                        </th>
                                         <th>
                                             Tipo
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="vehicle-tbody">
                                    
                                </tbody>


                                <tfoot>
                                  <tr>
                                        <th>
                                            ID
                                        </th>
                                  
                                         <th>
                                             Marca
                                        </th>
                                        <th>
                                             Modelo
                                        </th>
                                        <th>
                                             Color
                                        </th>
                                        <th>
                                             Año
                                        </th>
                                         <th>
                                             Matricula
                                        </th>
                                        <th>
                                             Descripcion
                                        </th>
                                         <th>
                                             Tipo
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </tfoot>

                            </table>

                             <!-- Modal Vehicle -->
                           <div class="modal fade" id="modalVehicle" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" role="document">
                                  <div class="modal-header">
                                       <h2 class="modal-title" id="membershipFormLabel">Editar vehiculo</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="vehicle-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idVehicleModal" id="idVehicleModal" hidden>

                                       <label for="idType">Elija el tipo de vehiculo </label>
                                       <select class="form-control without-margin" name="typesModal" id="typesModal">
                                       </select>
                                

                                       <input type="text" name="brandModal" id="brandModal" class="form-control" placeholder="Brand" required="">
                                    
                                       <input type="text" name="modelModal" id="modelModal" class="form-control" placeholder="Model" required="">
                                    
                                       <input type="text" name="colorModal" id="colorModal" class="form-control" placeholder="Color" required="">
                                      
                                       <input type="number" name="yearModal" id="yearModal" class="form-control" placeholder="Year" required="">
                                     
                                       <input type="text" name="registerModal" id="registerModal" class="form-control" placeholder="Register of your Vehicle" required="">
                                     
                                       <input type="text" name="descriptionModal" id="descriptionModal" class="form-control" placeholder="Description" required="">
                                  
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateVehicle();">Guardar cambios</button>
                                    <label id="modalResultVehicleUpdate"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal Vehicle -->                    
                                <!-- Modal Vehicle delete-->
                           <div class="modal fade" id="modalVehicleDelete" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" role="document">
                                  <div class="modal-header">
                                       <h2 class="modal-title" id="membershipFormLabel">Eliminar vehiculo</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="vehicle-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idVehicleModal" id="idVehicleModalD"  disabled>

                                       <input type="text" name="brandModal" id="brandModalD" class="form-control" placeholder="Brand" required=""  disabled>
                                    
                                       <input type="text" name="modelModal" id="modelModalD" class="form-control" placeholder="Model" required=""  disabled>
                                    
                                       <input type="text" name="colorModal" id="colorModalD" class="form-control" placeholder="Color" required=""  disabled>
                                      
                                       <input type="number" name="yearModal" id="yearModalD" class="form-control" placeholder="Year" required=""  disabled>
                                     
                                       <input type="text" name="registerModal" id="registerModalD" class="form-control" placeholder="Register of your Vehicle" required="" disabled>
                                            
                                  
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return DeleteVehicleById();">Confirmar</button>
                                    <label id="modalResultDelete"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                        </div>
                     </div>
            
            </div>
       
    </section> 
    
    <!--end of vehicle section -->



  <!-- user  section -->

    <section class="schedule section" id="users">
                <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                  
                                <div class="team-thumb">
                               <img src="@Url.Content("~/images/team/operator.jpg")" class="img-fluid" alt="Trainer">

                                    <div class="team-info d-flex flex-column">

                                        <h3>Juan Miguel</h3>
                                        <span>Administrador</span>

                                      
                                    </div>
                                </div>

                  
                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                       <div class="entry-form">
                             <form action="" id="user-entry-form">
                              <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Ingresar Usuario </h2>
                                   <input type="text" name="id" id="id" hidden>

                                    <label class="text-white" for="idRol">Elejir puesto: </label>
                                        <select id="idRol" class="form-control" name="role">
                                            
                                        </select>

                                   <input type="text" name="name" id="name" class="form-control" placeholder="Nombre completo" required="">
                                 
                                   <input type="text" name="dni" id="dni" class="form-control" placeholder="DNI" required="">
                               
                                   <input type="number" name="age" id="age" class="form-control" placeholder="Edad" required="">
                                  
                                   <input type="text" name="telephone" id="telephone" class="form-control" placeholder="Telefono" required="">
                              
                                   <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="">
                              
                                   <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
                                 

                                   <button class="submit-btn form-control" onsubmit="return Add();" id="form-submit">Añadir Usuario</button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancelar</button>
                             

                                   <label id="result"></label>
                              </form>

                </div>
                </div>
            </div> 
            </div> 
                     <div class="container">
            <div class="row">
                        <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Usuario</h2>
                        <div class="table-responsive text-white" >                     
                            <table class="text-white table table-bordered schedule-table"  id="users-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                     
                                         <th>
                                             Nombre
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Edad
                                        </th>
                                        <th>
                                             Telefono
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                         <th>
                                             Rol
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="user-tbody">
                                    
                                </tbody>

                                <!------------------------------------------------------->
                                <tfoot>
                                     <tr>
                                        <th>
                                            Id
                                        </th>
                                     
                                         <th>
                                             Nombre
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Edad
                                        </th>
                                        <th>
                                             Telefono
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                         <th>
                                             Rol
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </tfoot>
                                <!------------------------------------------------------->

                            </table>

                            <!-- Modal User -->
                             <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Parking</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="user-entry-form">
                                  <div class="modal-body">

                                   <input type="text" name="idUserModal" id="idUserModal" hidden>
                                        <label class="text-black" for="idRol">Elejir puesto: </label>
                                        <select id="idRolUserModal" class="form-control" name="role">
                                        
                                        </select>
                                       <input type="text" name="nameUserModal" id="nameUserModal" class="form-control" placeholder="Full name" required="">
                                  
                                       <input type="text" name="dniUserModal" id="dniUserModal" class="form-control" placeholder="DNI" required="">
                                   
                                       <input type="text" name="ageUserModal" id="ageUserModal" class="form-control" placeholder="Age" required="">
                                
                                       <input type="text" name="telephoneUserModal" id="telephoneUserModal" class="form-control" placeholder="Telephone" required="">
                                   
                                       <input type="email" name="emailUserModal" id="emailUserModal" class="form-control" placeholder="Your email address" required="">
                              
                                       <input type="password" name="passwordUserModal" id="passwordUserModal" class="form-control" placeholder="Your password" required="">
                                    
                                  </div>
                                     <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateUser();">Save changes</button>
                                    <label id="modalResultUser"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal User -->
                                              <!-- Modal User DELETE -->
                             <div class="modal fade" id="modalUserDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar usuario</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="user-entry-form">
                                  <div class="modal-body">

                                   <input type="text" name="idUserModal" id="idUserModalD" disabled>
                                     
                                       <input type="text" name="nameUserModal" id="nameUserModalD" class="form-control" placeholder="Full name" required="" disabled>
                                  
                                       <input type="text" name="dniUserModal" id="dniUserModalD" class="form-control" placeholder="DNI" required="" disabled>
                                   
                                       <input type="text" name="ageUserModal" id="ageUserModalD" class="form-control" placeholder="Age" required="" disabled>
                                
                                       <input type="text" name="telephoneUserModal" id="telephoneUserModalD" class="form-control" placeholder="Telephone" required="" disabled>
                                   
                                       <input type="email" name="emailUserModal" id="emailUserModalD" class="form-control" placeholder="Your email address" required="" disabled>
                              
                                       <input type="password" name="passwordUserModal" id="passwordUserModalD" class="form-control" placeholder="Your password" required="" disabled>
                                    
                                  </div>
                                     <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return DeleteUserById();">Confirmar</button>
                                    <label id="modalResultUserDelete"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal User -->           

                        </div>
                     </div>
                </div>
        
    </section>

        <!-- user end section -->

    <!-- CLIENTS section -->
      <section class="class section" id="clients">
            <div class="container">
            <div class="row">
                
                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                          <div class="entry-form">
                             <form action="" id="vehicle-entry-form">
                                       <h2 class="text-dark" data-aos="fade-up" data-aos-delay="200">Ingresar Cliente </h2>
                                   <input type="text" name="id" id="id" hidden>

                      
                              

                                   <input type="text" name="nameClient" id="nameClient" class="form-control" placeholder="Nombre completo" required="">
                                
                                   <input type="text" name="dniClient" id="dniClient" class="form-control" placeholder="DNI" required="">
                                
                                   <input type="number" name="ageClient" id="ageClient" class="form-control" placeholder="Edad" required="">
                                 
                                   <input type="text" name="telephoneClient" id="telephoneClient" class="form-control" placeholder="Telefono" required="">
                                 
                                   <input type="email" name="emailClient" id="emailClient" class="form-control" placeholder="Email" required="">
                                
                                   <input type="password" name="passwordClient" id="passwordClient" class="form-control" placeholder="Contraseña" required="">
                                 

                      
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@

                                   <label id="resultClient"></label>
                              </form>
                         </div>

                </div>
              <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                        <div class="entry-form">
                             <form action="" id="vehicle-entry-form">
                                     <h2 class="text-dark" data-aos="fade-up" data-aos-delay="200">Registrar vehiculo </h2>
                                   <input type="text" name="id" id="id" hidden>

                                   <label for="idType">Seleccione el tipo de vehiculo: </label>
                                   <select class="form-control without-margin" name="types" id="types">
                                   </select>
                                    

                                   <input type="text" name="brand" id="brand" class="form-control" placeholder="Marca" required="">
                                   
                                   <input type="text" name="model" id="model" class="form-control" placeholder="Modelo" required="">
                                  
                                   <input type="text" name="color" id="color" class="form-control" placeholder="Color" required="">
                                  
                                   <input type="number" name="year" id="year" class="form-control" placeholder="Año" required="">
                                
                                   <input type="text" name="register" id="register" class="form-control" placeholder="identificacion" required="">
                                 
                                   <input type="text" name="description" id="description" class="form-control" placeholder="descripcion" required="">
                                  

                                  @*<button class="submit-btn form-control" onclick="addVehicle();return false" id="addVehicle">Add</button>*@
                                   <button class="submit-btn form-control" onsubmit="return AddVehicle();" id="addvehicle">Registrar</button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancelar</button>
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@
                                   @*<input type="submit" name="submit" class="button" id="submit_btn" value="Send" />*@
                                   <label id="resultVehicle"></label>
                              </form>
                         </div>
                     </div>

                </div>

            </div>
        
            <div class="container">
            <div class="row">
                        <h2 class="text-black" data-aos="fade-up" data-aos-delay="200">Cliente</h2>
                        <div class="table-responsive">                     
                            <table class="text-black table table-bordered schedule-table"  id="clients-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                         <th>
                                             Nombre
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Edad
                                        </th>
                                        <th>
                                             Telefono
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                        <th>
                                             Vehiculo 
                                        </th>
                                      
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="client-tbody">
                                    
                                </tbody>

                                <tfood>
                                   <tr>
                                        <th>
                                            Id
                                        </th>
                                         <th>
                                             Nombre
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Edad
                                        </th>
                                        <th>
                                             Telefono
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                        <th>
                                             Vehiculo 
                                        </th>
                                      
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </tfood>




                            </table>


                                              

                        </div>
                     </div>
            
                        </div>
                    
             <!-- Modal Clients -->
                            <div class="modal fade" id="modalClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Client</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="client-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idClientModal" id="idClientModal" hidden>

                                       <select class="form-control without-margin" name="register_vModal" id="vehicleClientModal" disabled>
                                       </select>
                                        

                                       <input type="text" name="nameClientModal" id="nameClientModal" class="form-control" placeholder="Full name" required="">
                                       
                                       <input type="text" name="dniClientModal" id="dniClientModal" class="form-control" placeholder="DNI" required="">
                                    
                                       <input type="text" name="ageClientModal" id="ageClientModal" class="form-control" placeholder="Age" required="">
                                      
                                       <input type="text" name="telephoneClientModal" id="telephoneClientModal" class="form-control" placeholder="Telephone" required="">
                                    
                                       <input type="email" name="emailClientModal" id="emailClientModal" class="form-control" placeholder="Your email address" required="">
                                      
                                       <input type="password" name="passwordClientModal" id="passwordClientModal" class="form-control" placeholder="Your password" required="">
                                      
                                      </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateClient();">Save changes</button>
                                    <label id="modalResult"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal Clients -->    
                            <!-- Modal Clients delete -->
                            <div class="modal fade" id="modalClientDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Cliente</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="client-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idClientModal" id="idClientModalD" disabled>

                                       <input type="text" name="nameClientModal" id="nameClientModalD" class="form-control" placeholder="Full name" required="" disabled>
                                       
                                       <input type="text" name="dniClientModal" id="dniClientModalD" class="form-control" placeholder="DNI" required="" disabled>
                                    
                                       <input type="text" name="ageClientModal" id="ageClientModalD" class="form-control" placeholder="Age" required="" disabled>
                                      
                                       <input type="text" name="telephoneClientModal" id="telephoneClientModalD" class="form-control" placeholder="Telephone" required="" disabled>
                                    
                                       <input type="email" name="emailClientModal" id="emailClientModalD" class="form-control" placeholder="Your email address" required="" disabled> 
                                      
                  
                                      
                                      </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return DeleteClientById();">Confirmar</button>
                                    <label id="modalResultClientDelete"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal Clients -->  
                            
      
    </section>  

    <!-- end of CLIENTS section -->


  <!--parking section -->


   
    <section class="schedule section" id="parkings">
                <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                  
                            
                    <div class="container">
                          <div class="row">
                       <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Parqueos</h2>
                        <div class="table-responsive text-white">                     
                            <table class="text-white table table-bordered schedule-table"  id="parkings-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                         <th>
                                             Parqueo
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="parking-tbody">
                                    
                                </tbody>

                                <!------------------------------------------------------->
                                <tfoot>
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                         <th>
                                             Parqueo
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </tfoot>
                                <!------------------------------------------------------->

                            </table>
                            
                        </div>
                     </div>
                </div>   
                </div>
                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                   <div class="entry-form">
                             <form action="" id="parking-entry-form">
                                   <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Nuevo parqueo </h2>
                                   <input type="text" name="id" id="id" hidden>

                                   <input type="text" name="parkingName" id="parkingName" class="form-control" placeholder="Nombre" required="">
                                  
                                   <button class="submit-btn form-control" onsubmit="return AddParking();" id="form-submit">Añadir parqueo </button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancelar</button>
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@

                                   <label id="result"></label>
                              </form>
                         </div>
                </div>
            </div> 
           </div>
          <!-- Modal Parking update -->
                            <div class="modal fade" id="modalParking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Parking</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="parking-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idParkingModal" id="idParkingModal" hidden>

                                       <input type="text" name="parkingNameModal" id="parkingNameModal" class="form-control" placeholder="Full name" required="">
                                       <br>
                                       
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateParking();">Realizar cambios</button>
                                    <label id="modalResult"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
          <!-- Modal Parking -->


             <!-- Modal Parking delete -->
                            <div class="modal fade" id="modalParkingDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar parqueo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="parking-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idParkingModal" id="idParkingModalD" hidden>

                                       <input type="text" name="parkingNameModal" id="parkingNameModalD" class="form-control" placeholder="Full name" required="" disabled>
                                       <br>
                                       
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return DeleteParking();">Confirmar</button>
                                    <label id="modalResultParkingDelete"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
          <!-- Modal Parking -->
    </section>

        <!--end parking section -->





        
        <!--parkingslot -->


           <section class="class section" id="slots">
            <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                  
                                <div class="team-thumb">
                                <img src="@Url.Content("~/images/team/parking.jpg")" class="img-fluid" alt="Trainer">

                                    <div class="team-info d-flex flex-column">

                                        <h3>Santa Ana</h3>
                                        <span>Parqueo</span>

                                      
                                    </div>
                                </div>

                  
                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                              <div class="entry-form">
                                 <form action="" id="parkingSlot-entry-form">
                                         <h2 class="text-dark" data-aos="fade-up" data-aos-delay="200">Ingresar nuevo espacio </h2>

                                       <input type="text" name="idParkingSlot" id="idParkingSlot" hidden>

                                       <label for="idParkingSelect">Seleccione un parque: </label>
                                       <select class="form-control without-margin" name="idParkingSelect" id="idParkingSelect">
                                       </select>
                                       <input type="number" name="number" id="number" class="form-control" placeholder="Numero de espacios" required="">

                                        <label for="idTypeVehicle">Seleccionar tipo de vehiculo: </label>
                                       <select class="form-control without-margin" name="idTypeVehicle" id="idTypeVehicle">
                                       </select>
                                       
                                        <label for="preferentialSlot">Espacio preferencial: </label>
                                            <select id="preferentialSlot" class="form-control" name="preferentialSlot">
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>
                                            </select>
                                       
                                   
                                       <button class="submit-btn form-control" onsubmit="return AddParkingSlot();" id="form-submit">Añadir espacio</button>
                                       <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancelar</button>
                                       @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@

                                       <label id="result"></label>
                                  </form>
                         </div>

                </div>
                </div>

            </div>
        
            <div class="container">
            <div class="row">
                        <h2 class="text-black" data-aos="fade-up" data-aos-delay="200">Espacios</h2>
                        <div class="table-responsive">                     
                            <table class="text-black table table-bordered schedule-table"  id="parkingSlots-table"> 
                                 <thead>
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                         <th>
                                             Parqueo
                                        </th>
                                         <th>
                                             Vehiculos
                                        </th>
                                        <th>
                                             Numero
                                        </th>
                                        <th>
                                             Preferencial
                                        </th>
                                        <th>
                                             Estado
                                        </th>
                                        <th>
                                             Acción
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="parkingSlot-tbody">
                                    
                                </tbody>
                                  <tfood>
                                    <tr>
                                       <th>
                                            ID
                                        </th>
                                         <th>
                                             Parqueo
                                        </th>
                                         <th>
                                             Vehiculos
                                        </th>
                                        <th>
                                             Numero
                                        </th>
                                        <th>
                                             Preferencial
                                        </th>
                                        <th>
                                             Estado
                                        </th>
                                        <th>
                                             Acción
                                        </th>
                                    </tr>
                                </tfood>

                            </table>


                                              

                        </div>
                     </div>
            
                </div>
                    
       
        <!-- Modal ParkingSlot -->
                            <div class="modal fade" id="modalParkingSlot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Parking Slots</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="parkingSlot-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idParkingSlotModal" id="idParkingSlotModal" hidden>

                                       
                                       <input type="text" name="numberModal" id="numberModal" disabled>
                                       <br>
                                        <label for="idTypeVehicleModal">Select vehicle´s type: </label>
                                       <select class="form-control without-margin" name="idTypeVehicleModal" id="idTypeVehicleModal">
                                       </select>
                                        <br>
                                        <label for="preferentialSlotModal">Preferential Slot: </label>
                                            <select id="preferentialSlotModal" class="form-control" name="preferentialSlotModal">
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>
                                            </select>
                                        <br>
                                       
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateParkingSlot();">Save changes</button>
                                    <label id="modalResult"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal ParkingSlot -->


                                          <!-- Modal ParkingSlot delete-->
                            <div class="modal fade" id="modalParkingSlotDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar espacios</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="parkingSlot-entry-form">
                                   <div class="modal-body">

                                       <input type="text" name="idParkingSlotModal" id="idParkingSlotModalD" hidden>

                                       
                                       <input type="text" name="numberModal" id="numberModalD" disabled>
                                      
                                       
                                        
                                       
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return  DeleteParkingSlotById();">Confirmar</button>
                                    <label id="modalResultDeleteFee"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>

                            <!-- Modal ParkingSlot Delete-->
                                                      
    </section>  
         <!-- end of parkingslot -->

    
                <!-- Fee -->
    <section class="schedule section" id="fees">
                <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                  
                            
                    <div class="container">
                          <div class="row">
                       <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Tarifas</h2>
                        <div class="table-responsive text-white">                     
                            <table class="text-white table table-bordered schedule-table"  id="fees-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                             Id
                                        </th>
                                         <th>
                                             Vehiculo
                                        </th>
                                        <th>
                                             Tiempo
                                        </th>
                                        <th>
                                             Precio
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="fee-tbody">
                                    
                                </tbody>

                                <!------------------------------------------------------->
                                <tfoot>
                                    <tr>
                                        <th>
                                             Id
                                        </th>
                                         <th>
                                             Vehiculo
                                        </th>
                                        <th>
                                             Tiempo
                                        </th>
                                        <th>
                                             Precio
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </tfoot>
                                <!------------------------------------------------------->

                            </table>
                            
                        </div>
                     </div>
                </div>   
                </div>
                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                   <div class="entry-form">
                             <form action="" id="fee-entry-form">
                                   <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Nueva Tarifa </h2>
                                   <input type="text" name="id" id="id" hidden>

                                   <label  class="text-white" for="idTypeVehicleFee">Seleccione el tipo de vehiculo </label>
                                   <select class="form-control without-margin" name="idTypeVehicleModal" id="idTypeVehicleFee">
                                   </select>
                                   <label class="text-white" for="idTime">seleccione el espacio de tiempo</label>
                                   <select class="form-control without-margin" name="idTypeVehicleModal" id="idTime">
                                   </select>
                                   <input type="number" name="price" id="price" class="form-control" placeholder="Precio" required="">
                                  
                                   <button class="submit-btn form-control" onsubmit="return AddFee();" id="form-submit">Añadir Tarifa </button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancelar</button>
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@

                                   <label id="resultFee"></label>
                              </form>
                         </div>
                </div>
            </div> 
           </div>
                            <!-- Modal Fee -->
                            <div class="modal fade" id="modalFee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Actualizar Tarifa</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="fee-entry-form">
                                  <div class="modal-body">
                                      <input type="text" name="idFeeModal" id="idFeeModal" hidden>

                                       <label for="idTypeVehicleFeeModal">Seleccione el tipo de vehiculo </label>
                                       <select class="form-control without-margin" name="idTypeVehicleModalModal" id="idTypeVehicleFeeModal">
                                       </select>
                                       <label for="idTimeModal">seleccione el espacio de tiempo</label>
                                       <select class="form-control without-margin" name="idTimeModal" id="idTimeModal">
                                       </select>
                                       <input type="number" name="priceModal" id="priceModal" class="form-control" placeholder="Precio" required="">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateFee();">Guardar Cambios</button>
                                    <label id="modalResultFee"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal Fee -->

                            <!-- Modal Fee delete-->
                            <div class="modal fade" id="modalFeeDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Borrar Tarifa</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="fee-entry-form">
                                  <div class="modal-body">
                                      <input type="text" name="idFeeModalDelete" id="idFeeModalDelete" hidden>

                                       <label for="idTypeVehicleFeeModalDelete">Tipo de vehiculo </label>
                                       <select class="form-control without-margin" name="idTypeVehicleModalModalDelete" id="idTypeVehicleFeeModalDelete" disabled>
                                       </select>
                                       <label for="idTimeModalDelete">Espacio de tiempo</label>
                                       <select class="form-control without-margin" name="idTimeModalDelete" id="idTimeModalDelete" disabled>
                                       </select>
                                       <input type="number" name="priceModalDelete" id="priceModalDelete" class="form-control" placeholder="Precio" required="" disabled>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return DeleteFeeById();">Borrar Tarifa</button>
                                    <label id="modalResultDeleteFee"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal Fee Delete-->
    </section>
    <!-- fin de tarifas-->



   <!-- Reservation section -->

     <section class="about section" id="reservation">
 
            <div class="container">
            <div class="row">
                        <h2 class="text-black" data-aos="fade-up" data-aos-delay="200">Reservaciones</h2>
                        <div class="table-responsive">                     
                            <table class="text-black table table-bordered  schedule-table"  id="reservation-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                  
                                         <th>
                                             Parqueo
                                        </th>
                                        <th>
                                             Espacio
                                        </th>
                                        <th>
                                             Cliente
                                        </th>
                                        <th>
                                             Vehiculo
                                        </th>
                                         <th>
                                             Matricula
                                        </th>
                                        <th>
                                             Duracion
                                        </th>
                                         <th>
                                             Tiempo
                                        </th>
                                          <th>
                                             Costo
                                        </th>
                                          <th>
                                             Fecha I
                                        </th>
                                         
                                          <th>
                                             Fecha S
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="reservation-tbody">
                                    
                                </tbody>


                                <tfoot>
                                   <tr>
                                        <th>
                                            ID
                                        </th>
                                  
                                         <th>
                                             Parqueo
                                        </th>
                                        <th>
                                             Espacio
                                        </th>
                                        <th>
                                             Cliente
                                        </th>
                                        <th>
                                             Vehiculo
                                        </th>
                                         <th>
                                             Matricula
                                        </th>
                                        <th>
                                             Duracion
                                        </th>
                                         <th>
                                             Tiempo
                                        </th>
                                          <th>
                                             Costo
                                        </th>
                                          <th>
                                             Fecha I
                                        </th>
                                    
                                          <th>
                                             Fecha S
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </tfoot>

                            </table>
                                   
                                <!-- Modal reservation cancel-->
                           <div class="modal fade" id="modalReservationCancel" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" role="document">
                                  <div class="modal-header">
                                       <h2 class="modal-title" id="membershipFormLabel">Cancelar reservacion</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="reservation-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idReservation" id="idReservation" disabled>

                                       <input type="text" name="brandModal" id="Parking" class="form-control" placeholder="" required=""  disabled>
                                    
                                       <input type="text" name="modelModal" id="ParkingSlot" class="form-control" placeholder="" required=""  disabled>
                                    
                                       <input type="text" name="colorModal" id="Client" class="form-control" placeholder="" required=""  disabled>
                                      
                                       <input type="text" name="yearModal" id="Vehicle" class="form-control" placeholder="" required=""  disabled>
                                     
                                       <input type="text" name="registerModal" id="Register" class="form-control" placeholder="" required="" disabled>
                                    
                                       <input type="text" name="brandModal" id="CantTime" class="form-control" placeholder="" required=""  disabled>
                                    
                                       <input type="text" name="modelModal" id="Time" class="form-control" placeholder="" required=""  disabled>
                                    
                                       <input type="text" name="colorModal" id="InitDate" class="form-control" placeholder="" required=""  disabled>
                                      
                                       <input type="text" name="FinalDate" id="FinalDate" class="form-control" placeholder="" required=""  disabled>
                                     
                                             
                                  
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return DeleteReservationById();">Confirmar</button>
                                    <label id="modalResultReservation"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>



                                    
          <!-- Modal reservation payment-->
                           <div class="modal fade" id="modalReservationPayment" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" role="document">
                                  <div class="modal-header">
                                       <h2 class="modal-title" id="membershipFormLabel">Cobrar reservacion</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="reservation-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idReservationPayment" id="idReservationPayment" disabled>

                                       <input type="text" name="brandModalPayment" id="ParkingPayment" class="form-control" placeholder="" required=""  disabled>
                                    
                                       <input type="text" name="modelModalPayment" id="ParkingSlotPayment" class="form-control" placeholder="" required=""  disabled>
                                    
                                       <input type="text" name="colorModalPayment" id="ClientPayment" class="form-control" placeholder="" required=""  disabled>
                                      
                                       <input type="text" name="yearModalPayment" id="VehiclePayment" class="form-control" placeholder="" required=""  disabled>
                                     
                                       <input type="text" name="registerModalPayment" id="RegisterPayment" class="form-control" placeholder="" required="" disabled>
                                    
                                       <input type="text" name="brandModalPayment" id="CantTimePayment" class="form-control" placeholder="" required=""  disabled>
                                    
                                       <input type="text" name="modelModalPayment" id="TimePayment" class="form-control" placeholder="" required=""  disabled>

                                       <input type="text" name="totalCostModalPayment" id="totalCostModalPayment" class="form-control" placeholder="" required=""  disabled>
                                    
                                       <input type="text" name="colorModalPayment" id="InitDatePayment" class="form-control" placeholder="" required=""  disabled>
                                      
                                       <input type="text" name="FinalDatePayment" id="FinalDatePayment" class="form-control" placeholder="" required=""  disabled>
                                     
                                             
                                  
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return AddBill();">Facturar</button>
                                    <label id="modalResultReservationPayment"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>

                <!-- Modal reservation payment-->

                        </div>
                     </div>
            
            </div>
       
    </section> 
    
    <!--end of Reservation section -->

    <section class="schedule section" id="roles">
                <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                  
                            
                    <div class="container">
                          <div class="row">
                       <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Roles</h2>
                        <div class="table-responsive text-white">                     
                            <table class="text-white table table-bordered schedule-table"  id="roles-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                         <th>
                                             Nombre
                                        </th>
                                         <th>
                                             Autoridad
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="rol-tbody">
                                    
                                </tbody>

                                <!------------------------------------------------------->
                                <tfoot>
                                   <tr>
                                        <th>
                                            ID
                                        </th>
                                         <th>
                                             Nombre
                                        </th>
                                         <th>
                                             Autoridad
                                        </th>
                                         <th>
                                             Accion
                                        </th>
                                    </tr>
                                </tfoot>
                                <!------------------------------------------------------->

                            </table>
                            
                        </div>
                     </div>
                </div>   
                </div>
                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                   <div class="entry-form">
                             <form action="" id="rol-entry-form">
                                   <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Nuevo Rol </h2>
                                   <input type="text" name="id" id="id" hidden>

                                   <input type="text" name="rolName" id="rolName" class="form-control" placeholder="Nombre" required="">
                                    <select id="authority" class="form-control" name="role">
                                          <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>

                                   <button class="submit-btn form-control" onsubmit="return AddRol();" id="form-submit">Añadir Rol </button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancelar</button>
                      

                                   <label id="resultRol"></label>
                              </form>
                         </div>
                </div>
            </div> 
           </div>
          <!-- Modal rols update -->
                            <div class="modal fade" id="modalRol" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Actualizar Rol</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="parking-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idRolModal" id="idRolModal" hidden />

                                       <input type="text" name="rolNameModal" id="rolNameModal" class="form-control" placeholder="Full name" required="" disabled>
                                       
                                         <select id="authorityModal" class="form-control" name="role">
                                          <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                       <br>
                                       
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateRol();">Realizar cambios</button>
                                    <label id="resultRolModal"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
          <!-- Modal rols update -->


             <!-- Modal rols delete -->
                            <div class="modal fade" id="modalRolDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar rol</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="rol-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idRolModalD" id="idRolModalD" hidden />
                                       <label for="idDeleteName">Nombre</label>
                                       <input type="text" name="rolNameModalD" id="rolNameModalD" class="form-control" placeholder="Full name" required="" disabled>
                                      <label for="idDeleteAuthority">Autoridad</label>
                                       <input type="text" name="AuthorityModalD" id="AuthorityModalD" disabled  />

                                         
                                       <br>
                                       
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return DeleteRol();">Confirmar</button>
                                    <label id="modalResultRolDelete"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
          <!-- Modal rols delete -->
    </section>


    
     <section class="about section" id="bills">
 
            <div class="container">
            <div class="row">
        
                         <h2 class="text-black" data-aos="fade-up" data-aos-delay="200">Facturas</h2>
                        <div class="table-responsive">                     
                            <table class="text-black table table-bordered  schedule-table"  id="bills-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            ID
                                        </th>
                                  
                                         <th>
                                             Cliente
                                        </th>
                                        <th>
                                             Vehiculo
                                        </th>
                                        <th>
                                             Fecha
                                        </th>
                                         <th>
                                             Parqueo
                                        </th>
                                        <th>
                                             Espacio
                                        </th>
                                         <th>
                                             Costo Total
                                        </th>
                                          <th>
                                             Facturador
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="bills-tbody">
                                    
                                </tbody>


                                <tfoot>
                                   <tr>
                                        <th>
                                            ID
                                        </th>
                                  
                                         <th>
                                             Cliente
                                        </th>
                                        <th>
                                             Vehiculo
                                        </th>
                                        <th>
                                             Fecha
                                        </th>
                                         <th>
                                             Parqueo
                                        </th>
                                        <th>
                                             Espacio
                                        </th>
                                         <th>
                                             Costo Total
                                        </th>
                                          <th>
                                             Facturador
                                        </th>
                                    </tr>
                                </tfoot>

                            </table>
                </div>
            </div>
        </div>
    </section>
   

    <!-- REPORTS -->
    <section id="reports">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>



    <footer class="site-footer">
          <div class="container">
               <div class="row">

                    <div class="ml-auto col-lg-4 col-md-5">
                        <p class="copyright-text">Copyright &copy; 2022 Cloud Parking Co.
                        
                    </div>

                    <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                        <p class="mr-4">
                          
                            <a href="#">info@cloudparking.co</a>
                        </p>

                        <p><i class=" mr-1"></i> 2556-Park</p>
                    </div>
                    
               </div>
          </div>
     </footer>

     
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



     <script src="@Url.Content("~/js/jquery.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/bootstrap.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/aos.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/smoothscroll.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/custom.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")" type="text/javascript">
     <script src="@Url.Content("https://code.jquery.com/jquery-3.3.1.js")" type="text/javascript"></script>
     <script src="@Url.Content("https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")" type="text/javascript"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
