<!DOCTYPE html>
<html lang="en">
<head>
    
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link href="@Url.Content("~/css/mainLayout.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/aos.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/seats.css")" rel="stylesheet" type="text/css" />

</head>
<body>

   
       
          <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="">Cloud Parking</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Inicio</a>
                    </li>
                 
                    <li class="nav-item">
                        <a href="#parking" class="nav-link smoothScroll">Parqueo</a>
                    </li>
                    <li class="nav-item">
                        <a href="#parking" class="nav-link smoothScroll">Salir</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>


         <!-- HERO -->
     <section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

            <div class="bg-overlay"></div>

               <div class="container">
                    <div class="row">

                         <div class="col-lg-8 col-md-10 mx-auto col-12">
                              <div class="hero-text mt-5 text-center">

                                   

                                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">CLOUD PARKING</h1>

                                   
                                   
                              </div>
                         </div>

                    </div>
               </div>
     </section>

          
             





          <section class="about section" id="vehicle">

                 
                              

                                      <div class="container">
                        <div class="row">
                         
                                <div class="col-md-6">
                                         <h2 class="text-dark" data-aos="fade-up" data-aos-delay="200">Elija su parqueo </h2>
                              
                                       <select class="form-control without-margin" name="idParkingSelection" id="idParkingSelection"></select>


                                <div class="red">Reserved</div>
                                <div class="green">Available</div>
                                <div class="blue">Select</div>
                               </div>
                              <div class="col-md-6">
                                <h1>
                                  Your Selected Seat :
                                </h1>
                                <h2 class="mb-3 text-black" data-aos="fade-up">Seleccione uno y realice su reserva</h2>

                             </div>
  

                        </div>
                        <div class="parent">
                           <div class="child1">
                            <div  id="bus"></div>
                          </div>
                          <div class="child2 ml-3">
                            <h1 class="mb-4 text-black" data-aos="fade-up" id="sseat"></h1>
                            <h2 class="mb-4 text-black" data-aos="fade-up" id="price"></h2>
                            <h4 class="mb-4 text-black" data-aos="fade-up" id="error" style="color:red;"></h4>
                            <button id="next" class="btn btn-success hidden" >Next</button>
                          </div>
                        </div>
                          </div>  



              </section>

    

  



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
          <div class="container">
               <div class="row">

                    <div class="ml-auto col-lg-4 col-md-5">
                        <p class="copyright-text">Copyright &copy; 2022 Cloud Parking Co.
                        
                    </div>

                    <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                        <p class="mr-4">
                          
                            <a href="#">info@cloudparking.co</a>
                        </p>

                        <p><i class=" mr-1"></i> 2556-Park</p>
                    </div>
                    
               </div>
          </div>
     </footer>

     <script src="@Url.Content("~/js/jquery.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/bootstrap.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/aos.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/smoothscroll.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/custom.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>
          <script src="@Url.Content("~/js/seat.js")" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
