<!DOCTYPE html>
<html lang="en">

<head>
    
  <link href="@Url.Content("~/css/mainLayout.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
  <link href="@Url.Content("~/css/aos.css")" rel="stylesheet" type="text/css" />




    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 
 
  
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body  data-spy="scroll" data-target="#navbarNav" data-offset="50">>


          <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">

        <div class="container">

            <a class="navbar-brand" href="">Cloud Parking</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Inicio</a>
                    </li>
                         <!--Operador y administrador-->
                    <li class="nav-item">
                        <a href="#vehicles" class="nav-link smoothScroll">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#vehicle" class="nav-link smoothScroll">Vehiculo</a>
                    </li>
                   <li class="nav-item">
                        <a href="#clients" class="nav-link smoothScroll">Clientes</a>
                    </li>

                    <li class="nav-item">
                        <a href="#reservations" class="nav-link smoothScroll">Reservaciones</a>
                    </li>
                     <li class="nav-item">
                        <a href="#bills" class="nav-link smoothScroll">Facturacion</a>
                    </li>
                 
       

                   
                </ul>

             
            </div>

        </div>
    </nav>


    



    <!--VEHICLES -->
    <section id="vehicles">
        <div class="container">
            <div class="row">

                <div class="section-title">                        
                     </div>

                     <div class="entry-form">
                             <form action="" id="vehicle-entry-form">
                                   <h2>Insert new Vehicle</h2>
                                   <input type="text" name="id" id="id" hidden>

                                   <label for="idType">Select a vehicle´s type: </label>
                                   <select class="form-control without-margin" name="types" id="types">
                                   </select>
                                    <br>

                                   <input type="text" name="brand" id="brand" class="form-control" placeholder="Brand" required="">
                                   <br>
                                   <input type="text" name="model" id="model" class="form-control" placeholder="Model" required="">
                                   <br>
                                   <input type="text" name="color" id="color" class="form-control" placeholder="Color" required="">
                                   <br>
                                   <input type="number" name="year" id="year" class="form-control" placeholder="Year" required="">
                                   <br>
                                   <input type="text" name="register" id="register" class="form-control" placeholder="Register of your Vehicle" required="">
                                   <br>
                                   <input type="text" name="description" id="description" class="form-control" placeholder="Description" required="">
                                   <br>

                                 @*<button class="submit-btn form-control" onclick="addVehicle();return false" id="addVehicle">Add</button>*@
                                   <button class="submit-btn form-control" onsubmit="return AddVehicle();" id="addvehicle">Add Vehicle</button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancel</button>
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@
                                   @*<input type="submit" name="submit" class="button" id="submit_btn" value="Send" />*@
                                   <label id="result"></label>
                              </form>
                         </div>

                     
                     <div class="col-md-12 col-sm-12">
                         <h2>Vehicles Enrolled</h2>
                        <input type="text" id="myInputVehicle"  class="form-control search-input" placeholder="Search...">
                        <div class="table-responsive">                     
                            <table class="table table-bordered table-hover table table-striped" id="vehicle-table"> 
                                <thead>
                                    <tr>
                                        <th>
                                            IDvehicle
                                        </th>
                                        <th>
                                            IDtype
                                        </th>
                                         <th>
                                             Brand
                                        </th>
                                        <th>
                                             Model
                                        </th>
                                        <th>
                                             Color
                                        </th>
                                        <th>
                                             Year
                                        </th>
                                         <th>
                                             register
                                        </th>
                                        <th>
                                             Description
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="vehicle-tbody">
                                    
                                </tbody>

                            </table>


                            <!--ejemplo de tabla-->



                            <!--ejemplo de tabla-->                           

                        </div>
                     </div>
            
            </div>
        </div>
    </section>

    <!-- CLIENTS -->
    <section id="clients">
        <div class="container">
            <div class="row">

                <div class="section-title">                        
                     </div>

                     <div class="entry-form">
                             <form action="" id="vehicle-entry-form">
                                   <h2>Add a new client</h2>
                                   <input type="text" name="id" id="id" hidden>

                                    <label for="idVehicle">Select a vehicle by register: </label>
                                   <select class="form-control without-margin" name="register_v" id="register_v">
                                   </select>
                                    <br>

                                   <input type="text" name="nameClient" id="nameClient" class="form-control" placeholder="Full name" required="">
                                   <br>
                                   <input type="text" name="dniClient" id="dniClient" class="form-control" placeholder="DNI" required="">
                                   <br>
                                   <input type="text" name="ageClient" id="ageClient" class="form-control" placeholder="Age" required="">
                                   <br>
                                   <input type="text" name="telephoneClient" id="telephoneClient" class="form-control" placeholder="Telephone" required="">
                                   <br>
                                   <input type="email" name="emailClient" id="emailClient" class="form-control" placeholder="Your email address" required="">
                                   <br>
                                   <input type="password" name="passwordClient" id="passwordClient" class="form-control" placeholder="Your password" required="">
                                   <br>

                                   <button class="submit-btn form-control" onsubmit="return AddClient();" id="form-submit">Add Client</button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancel</button>
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@

                                   <label id="result"></label>
                              </form>
                         </div>

                     
                     <div class="col-md-12 col-sm-12">
                         <h2>Clients Enrolled<small>from all vehicles</small></h2>
                        <input type="text" id="myInputClient"  class="form-control search-input" placeholder="Search...">
                        <div class="table-responsive">                     
                            <table class="table table-bordered table-hover table table-striped" id="clients-table"> 
                                <thead>
                                    <tr>
                                        <th>
                                            IDclient
                                        </th>
                                        <th>
                                            IDvehicle
                                        </th>
                                         <th>
                                             Name
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Age
                                        </th>
                                        <th>
                                             Telephone
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                         <th>
                                             Password
                                        </th>
                                        <th>
                                             Rol
                                        </th>
                                        <th>
                                             State
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="client-tbody">
                                    
                                </tbody>

                            </table>


                            <!--ejemplo de tabla-->



                            <!--ejemplo de tabla-->                           

                        </div>
                     </div>
            
            </div>
        </div>
    </section>

    <!-- RERSERVATIONS -->
    <section id="reservations">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

    <!-- BILLS -->
    <section id="bills">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

   
    
      <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


   <footer class="site-footer">
          <div class="container">
               <div class="row">

                    <div class="ml-auto col-lg-4 col-md-5">
                        <p class="copyright-text">Copyright &copy; 2022 Cloud Parking Co.
                        
                    </div>

                    <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                        <p class="mr-4">
                          
                            <a href="#">info@cloudparking.co</a>
                        </p>

                        <p><i class=" mr-1"></i> 2556-Park</p>
                    </div>
                    
               </div>
          </div>
     </footer>

     <script src="@Url.Content("~/js/jquery.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/bootstrap.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/aos.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/smoothscroll.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/custom.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>
</body>
</html>