<!DOCTYPE html>
<html lang="en">
<head>
    
        <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link href="@Url.Content("~/css/mainLayout.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/css/aos.css")" rel="stylesheet" type="text/css" />
      <link href="@Url.Content("~/images/")" rel="stylesheet" type="text/css" />
</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

   
       
          <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="">Cloud Parking</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Inicio</a>
                    </li>
                         <!--Operador y administrador-->
                    <li class="nav-item">
                        <a href="#vehicle" class="nav-link smoothScroll">Vehiculos</a>
                    </li>
                   <li class="nav-item">
                        <a href="#clients" class="nav-link smoothScroll">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a href="#users" class="nav-link smoothScroll">Usuarios</a>
                    </li>

                    <li class="nav-item">
                        <a href="#reservations" class="nav-link smoothScroll">Reservaciones</a>
                    </li>
                     <li class="nav-item">
                        <a href="#bills" class="nav-link smoothScroll">Bills</a>
                    </li>
                 
                    <!--Administrador-->
                    
                     
                     <li class="nav-item">
                        <a href="#parkings" class="nav-link smoothScroll">Parqueos</a>
                    </li>
                      <li class="nav-item">
                        <a href="#slots" class="nav-link smoothScroll">Espacios</a>
                    </li>

                   
                     <li class="nav-item">
                        <a href="#roles" class="nav-link smoothScroll">Roles</a>
                    </li>

                    <li class="nav-item">
                        <a href="#rates" class="nav-link smoothScroll">Rates</a>
                    </li>
                    <li class="nav-item">
                        <a href="#reports" class="nav-link smoothScroll">Reportes</a>
                    </li>

                   
                </ul>

             
            </div>

        </div>
    </nav>
        <!-- HERO -->
     <section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

            <div class="bg-overlay"></div>

               <div class="container">
                    <div class="row">

                         <div class="col-lg-8 col-md-10 mx-auto col-12">
                              <div class="hero-text mt-5 text-center">

                                   

                                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">CLOUD PARKING</h1>

                                   
                                   
                              </div>
                         </div>

                    </div>
               </div>
     </section>

  <!-- vehicle section -->

     <section class="about section" id="vehicle">
 
            <div class="container">
            <div class="row">
                        <h2 class="text-black" data-aos="fade-up" data-aos-delay="200">Vehiculos</h2>
                        <div class="table-responsive">                     
                            <table class="text-black table table-bordered  schedule-table"  id="vehicles-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            IDvehicle
                                        </th>
                                        <th>
                                            IDtype
                                        </th>
                                         <th>
                                             Brand
                                        </th>
                                        <th>
                                             Model
                                        </th>
                                        <th>
                                             Color
                                        </th>
                                        <th>
                                             Year
                                        </th>
                                         <th>
                                             register
                                        </th>
                                        <th>
                                             Description
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="vehicle-tbody">
                                    
                                </tbody>


                                <tfoot>
                                    <tr>
                                        <th>
                                            IDvehicle
                                        </th>
                                        <th>
                                            IDtype
                                        </th>
                                         <th>
                                             Brand
                                        </th>
                                        <th>
                                             Model
                                        </th>
                                        <th>
                                             Color
                                        </th>
                                        <th>
                                             Year
                                        </th>
                                         <th>
                                             register
                                        </th>
                                        <th>
                                             Description
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </tfoot>

                            </table>

                             <!-- Modal Vehicle -->
                           <div class="modal fade" id="modalVehicle" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" role="document">
                                  <div class="modal-header">
                                       <h2 class="modal-title" id="membershipFormLabel">Editar vehiculo</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="vehicle-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idVehicleModal" id="idVehicleModal" hidden>

                                       <label for="idType">Elija el tipo de vehiculo </label>
                                       <select class="form-control without-margin" name="typesModal" id="typesModal">
                                       </select>
                                

                                       <input type="text" name="brandModal" id="brandModal" class="form-control" placeholder="Brand" required="">
                                    
                                       <input type="text" name="modelModal" id="modelModal" class="form-control" placeholder="Model" required="">
                                    
                                       <input type="text" name="colorModal" id="colorModal" class="form-control" placeholder="Color" required="">
                                      
                                       <input type="number" name="yearModal" id="yearModal" class="form-control" placeholder="Year" required="">
                                     
                                       <input type="text" name="registerModal" id="registerModal" class="form-control" placeholder="Register of your Vehicle" required="">
                                     
                                       <input type="text" name="descriptionModal" id="descriptionModal" class="form-control" placeholder="Description" required="">
                                  
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateVehicle();">Save changes</button>
                                    <label id="modalResult"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal Vehicle -->                    

                        </div>
                     </div>
            
            </div>
       
    </section> 
    
    <!--end of vehicle section -->



  <!-- user  section -->

    <section class="schedule section" id="users">
                <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                  
                                <div class="team-thumb">
                               <img src="@Url.Content("~/images/team/operator.jpg")" class="img-fluid" alt="Trainer">

                                    <div class="team-info d-flex flex-column">

                                        <h3>Juan Miguel</h3>
                                        <span>Administrador</span>

                                      
                                    </div>
                                </div>

                  
                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                       <div class="entry-form">
                             <form action="" id="user-entry-form">
                              <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Ingresar Usuario </h2>
                                   <input type="text" name="id" id="id" hidden>

                                    <label class="text-white" for="idRol">Elejir puesto: </label>
                                        <select id="idRol" class="form-control" name="role">
                                            <option value="2">Operator</option>
                                            <option value="3">Administrator</option>
                                        </select>

                                   <input type="text" name="name" id="name" class="form-control" placeholder="Nombre completo" required="">
                                 
                                   <input type="text" name="dni" id="dni" class="form-control" placeholder="DNI" required="">
                               
                                   <input type="text" name="age" id="age" class="form-control" placeholder="Edad" required="">
                                  
                                   <input type="text" name="telephone" id="telephone" class="form-control" placeholder="Telefono" required="">
                              
                                   <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="">
                              
                                   <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
                                 

                                   <button class="submit-btn form-control" onsubmit="return Add();" id="form-submit">Añadir Usuario</button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancelar</button>
                             

                                   <label id="result"></label>
                              </form>

                </div>
                </div>
            </div> 
            </div> 
                     <div class="container">
            <div class="row">
                        <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Usuario</h2>
                        <div class="table-responsive text-white" >                     
                            <table class="text-white table table-bordered schedule-table"  id="users-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            IDuser
                                        </th>
                                        <th>
                                            IDrol
                                        </th>
                                         <th>
                                             Name
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Age
                                        </th>
                                        <th>
                                             Telephone
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                         <th>
                                             Password
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="user-tbody">
                                    
                                </tbody>

                                <!------------------------------------------------------->
                                <tfoot>
                                    <tr>
                                        <th>
                                            IDuser
                                        </th>
                                        <th>
                                            IDrol
                                        </th>
                                         <th>
                                             Name
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Age
                                        </th>
                                        <th>
                                             Telephone
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                         <th>
                                             Password
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </tfoot>
                                <!------------------------------------------------------->

                            </table>

                            <!-- Modal User -->
                            <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update User</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="user-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idUserModal" id="idUserModal" hidden>

                                       <input type="text" name="nameModal" id="nameModal" class="form-control" placeholder="Full name" required="">
                                       <br>
                                       <input type="text" name="dniModal" id="dniModal" class="form-control" placeholder="DNI" required="">
                                       <br>
                                       <input type="text" name="ageModal" id="ageModal" class="form-control" placeholder="Age" required="">
                                       <br>
                                       <input type="text" name="telephoneModal" id="telephoneModal" class="form-control" placeholder="Telephone" required="">
                                       <br>
                                       <input type="email" name="emailModal" id="emailModal" class="form-control" placeholder="Your email address" required="">
                                       <br>
                                       <input type="password" name="passwordModal" id="passwordModal" class="form-control" placeholder="Your password" required="">
                                       <br>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return Update();">Save changes</button>
                                    <label id="modalResult"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal User -->
                                                      

                        </div>
                     </div>
                </div>
        
    </section>

        <!-- user end section -->

    <!-- CLIENTS section -->
      <section class="class section" id="clients">
            <div class="container">
            <div class="row">

              <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                        <div class="entry-form">
                             <form action="" id="vehicle-entry-form">
                                     <h2 class="text-dark" data-aos="fade-up" data-aos-delay="200">Ingresar nuevo vehiculo </h2>
                                   <input type="text" name="id" id="id" hidden>

                                   <label for="idType">Seleccione el tipo de vehiculo: </label>
                                   <select class="form-control without-margin" name="types" id="types">
                                   </select>
                                    

                                   <input type="text" name="brand" id="brand" class="form-control" placeholder="Marca" required="">
                                   
                                   <input type="text" name="model" id="model" class="form-control" placeholder="Modelo" required="">
                                  
                                   <input type="text" name="color" id="color" class="form-control" placeholder="Color" required="">
                                  
                                   <input type="number" name="year" id="year" class="form-control" placeholder="Año" required="">
                                
                                   <input type="text" name="register" id="register" class="form-control" placeholder="identificacion" required="">
                                 
                                   <input type="text" name="description" id="description" class="form-control" placeholder="descripcion" required="">
                                  

                                  @*<button class="submit-btn form-control" onclick="addVehicle();return false" id="addVehicle">Add</button>*@
                                   <button class="submit-btn form-control" onsubmit="return AddVehicle();" id="addvehicle">Añadir vehiculo</button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancelar</button>
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@
                                   @*<input type="submit" name="submit" class="button" id="submit_btn" value="Send" />*@
                                   <label id="result"></label>
                              </form>
                         </div>
                     </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                          <div class="entry-form">
                             <form action="" id="vehicle-entry-form">
                                       <h2 class="text-dark" data-aos="fade-up" data-aos-delay="200">Ingresar Cliente </h2>
                                   <input type="text" name="id" id="id" hidden>

                      
                              

                                   <input type="text" name="nameClient" id="nameClient" class="form-control" placeholder="Nombre completo" required="">
                                
                                   <input type="text" name="dniClient" id="dniClient" class="form-control" placeholder="DNI" required="">
                                
                                   <input type="text" name="ageClient" id="ageClient" class="form-control" placeholder="Edad" required="">
                                 
                                   <input type="text" name="telephoneClient" id="telephoneClient" class="form-control" placeholder="Telefono" required="">
                                 
                                   <input type="email" name="emailClient" id="emailClient" class="form-control" placeholder="Email" required="">
                                
                                   <input type="password" name="passwordClient" id="passwordClient" class="form-control" placeholder="Contraseña" required="">
                                 

                      
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@

                                   <label id="result"></label>
                              </form>
                         </div>

                </div>
                </div>

            </div>
        
            <div class="container">
            <div class="row">
                        <h2 class="text-black" data-aos="fade-up" data-aos-delay="200">Cliente</h2>
                        <div class="table-responsive">                     
                            <table class="text-black table table-bordered schedule-table"  id="clients-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            IDclient
                                        </th>
                                        <th>
                                            IDvehicle
                                        </th>
                                         <th>
                                             Name
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Age
                                        </th>
                                        <th>
                                             Telephone
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                         <th>
                                             Password
                                        </th>
                                        <th>
                                             Rol
                                        </th>
                                        <th>
                                             State
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="client-tbody">
                                    
                                </tbody>

                                <tfood>
                                    <tr>
                                        <th>
                                            IDclient
                                        </th>
                                        <th>
                                            IDvehicle
                                        </th>
                                         <th>
                                             Name
                                        </th>
                                        <th>
                                             DNI
                                        </th>
                                        <th>
                                             Age
                                        </th>
                                        <th>
                                             Telephone
                                        </th>
                                         <th>
                                             Email
                                        </th>
                                         <th>
                                             Password
                                        </th>
                                        <th>
                                             Rol
                                        </th>
                                        <th>
                                             State
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </tfood>




                            </table>


                                              

                        </div>
                     </div>
            
                        </div>
                    
       
      
    </section>  

    <!-- end of CLIENTS section -->


  <!--parking section -->


   
    <section class="schedule section" id="parkings">
                <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                  
                            
                    <div class="container">
                          <div class="row">
                       <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Parqueos</h2>
                        <div class="table-responsive text-white">                     
                            <table class="text-white table table-bordered schedule-table"  id="parkings-table"> 
                                <thead class="thead-light">
                                    <tr>
                                        <th>
                                            IDparking
                                        </th>
                                         <th>
                                             ParkingName
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="parking-tbody">
                                    
                                </tbody>

                                <!------------------------------------------------------->
                                <tfoot>
                                    <tr>
                                        <th>
                                            IDparking
                                        </th>
                                         <th>
                                             ParkingName
                                        </th>
                                         <th>
                                             Action
                                        </th>
                                    </tr>
                                </tfoot>
                                <!------------------------------------------------------->

                            </table>
                            
                        </div>
                     </div>
                </div>   
                </div>
                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                   <div class="entry-form">
                             <form action="" id="parking-entry-form">
                                   <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Nuevo parqueo </h2>
                                   <input type="text" name="id" id="id" hidden>

                                   <input type="text" name="parkingName" id="parkingName" class="form-control" placeholder="Nombre" required="">
                                  
                                   <button class="submit-btn form-control" onsubmit="return AddParking();" id="form-submit">Añadir parqueo </button>
                                   <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancelar</button>
                                   @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@

                                   <label id="result"></label>
                              </form>
                         </div>
                </div>
            </div> 
           </div>
          <!-- Modal Parking -->
                            <div class="modal fade" id="modalParking" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Parking</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="parking-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idParkingModal" id="idParkingModal" hidden>

                                       <input type="text" name="parkingNameModal" id="parkingNameModal" class="form-control" placeholder="Full name" required="">
                                       <br>
                                       
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateParking();">Save changes</button>
                                    <label id="modalResult"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal Parking -->
    </section>

        <!--end parking section -->





        
        <!--parkingslot -->


           <section class="class section" id="parkingslot">
            <div class="container">
            <div class="row">

                <div class="d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-5 col-md-6 col-12">
                  
                                <div class="team-thumb">
                                <img src="@Url.Content("~/images/team/parking.jpg")" class="img-fluid" alt="Trainer">

                                    <div class="team-info d-flex flex-column">

                                        <h3>Santa Ana</h3>
                                        <span>Parqueo</span>

                                      
                                    </div>
                                </div>

                  
                </div>

                <div class="mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
                              <div class="entry-form">
                                 <form action="" id="parkingSlot-entry-form">
                                         <h2 class="text-dark" data-aos="fade-up" data-aos-delay="200">Ingresar nuevo espacio </h2>

                                       <input type="text" name="idParkingSlot" id="idParkingSlot" hidden>

                                       <label for="idParkingSelect">Seleccione un parque: </label>
                                       <select class="form-control without-margin" name="idParkingSelect" id="idParkingSelect">
                                       </select>
                                       <input type="number" name="number" id="number" class="form-control" placeholder="Numero de espacios" required="">

                                        <label for="idTypeVehicle">Seleccionar tipo de vehiculo: </label>
                                       <select class="form-control without-margin" name="idTypeVehicle" id="idTypeVehicle">
                                       </select>
                                       
                                        <label for="preferentialSlot">Espacio preferencial: </label>
                                            <select id="preferentialSlot" class="form-control" name="preferentialSlot">
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>
                                            </select>
                                       
                                   
                                       <button class="submit-btn form-control" onsubmit="return AddParkingSlot();" id="form-submit">Añadir espacio</button>
                                       <button class="submit-btn form-control" onclick="Clear();return false" id="form-cancel">Cancelar</button>
                                       @*<button class="submit-btn form-control" onsubmit="return Update();" id="form-submit-update">Update</button>*@

                                       <label id="result"></label>
                                  </form>
                         </div>

                </div>
                </div>

            </div>
        
            <div class="container">
            <div class="row">
                        <h2 class="text-black" data-aos="fade-up" data-aos-delay="200">Espacios</h2>
                        <div class="table-responsive">                     
                            <table class="text-black table table-bordered schedule-table"  id="parkingSlots-table"> 
                                 <thead>
                                    <tr>
                                        <th>
                                            IDparkingSlot
                                        </th>
                                         <th>
                                             IDparking
                                        </th>
                                         <th>
                                             IDtypeVehicle
                                        </th>
                                        <th>
                                             Number
                                        </th>
                                        <th>
                                             PreferentialSlot
                                        </th>
                                        <th>
                                             State
                                        </th>
                                        <th>
                                             Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody id="parkingSlot-tbody">
                                    
                                </tbody>
                                  <tfood>
                                    <tr>
                                        <th>
                                            IDparkingSlot
                                        </th>
                                         <th>
                                             IDparking
                                        </th>
                                         <th>
                                             IDtypeVehicle
                                        </th>
                                        <th>
                                             Number
                                        </th>
                                        <th>
                                             PreferentialSlot
                                        </th>
                                        <th>
                                             State
                                        </th>
                                        <th>
                                             Action
                                        </th>
                                    </tr>
                                </tfood>

                            </table>


                                              

                        </div>
                     </div>
            
                </div>
                    
       
        <!-- Modal ParkingSlot -->
                            <div class="modal fade" id="modalParkingSlot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Update Parking Slots</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form action="" id="parkingSlot-entry-form">
                                  <div class="modal-body">

                                       <input type="text" name="idParkingSlotModal" id="idParkingSlotModal" hidden>

                                       
                                       <input type="text" name="numberModal" id="numberModal" disabled>
                                       <br>
                                        <label for="idTypeVehicleModal">Select vehicle´s type: </label>
                                       <select class="form-control without-margin" name="idTypeVehicleModal" id="idTypeVehicleModal">
                                       </select>
                                        <br>
                                        <label for="preferentialSlotModal">Preferential Slot: </label>
                                            <select id="preferentialSlotModal" class="form-control" name="preferentialSlotModal">
                                                <option value="Y">Yes</option>
                                                <option value="N">No</option>
                                            </select>
                                        <br>
                                       
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="closeModal" onclick="return UpdateParkingSlot();">Save changes</button>
                                    <label id="modalResult"></label>
                                  </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- Modal ParkingSlot -->
                                                      
    </section>  
         <!-- end of parkingslot -->








    <!-- RERSERVATIONS -->
    <section id="reservations">
    
    </section>

    <!-- BILLS -->
    <section id="bills">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>






  
    

    <!-- SLOTS -->
    <section id="slots">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

    <!-- ROLES -->
    <section id="role">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

    <!-- RATES -->
    <section id="rates">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>

    <!-- REPORTS -->
    <section id="reports">
        <div class="container">
            <div class="row">


            
            </div>
        </div>
    </section>



    <footer class="site-footer">
          <div class="container">
               <div class="row">

                    <div class="ml-auto col-lg-4 col-md-5">
                        <p class="copyright-text">Copyright &copy; 2022 Cloud Parking Co.
                        
                    </div>

                    <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
                        <p class="mr-4">
                          
                            <a href="#">info@cloudparking.co</a>
                        </p>

                        <p><i class=" mr-1"></i> 2556-Park</p>
                    </div>
                    
               </div>
          </div>
     </footer>

     
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



     <script src="@Url.Content("~/js/jquery.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/bootstrap.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/aos.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/smoothscroll.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/custom.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")" type="text/javascript">
     <script src="@Url.Content("https://code.jquery.com/jquery-3.3.1.js")" type="text/javascript"></script>
     <script src="@Url.Content("https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")" type="text/javascript"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
